Get list of well-developed players and rookies/players with less than 1 year of service time.

In [ ]:
pip install pybaseball -q

Split players into their position (P, C, 1/2/3B, OF, DH)

In [1]:
from pybaseball import playerid_lookup, chadwick_register, statcast_batter, statcast_pitcher
import pandas as pd
import json

# df = chadwick_register(save=True)
# df = df.query('mlb_played_first > 2013 and mlb_played_last == 2024')

relevant_columns = ["name_first", "name_last", "key_mlbam", "mlb_played_first", "mlb_played_last"]

df = pd.read_pickle('./playerslastdecade.pkl')[relevant_columns].sort_values(by=['name_first']).reset_index(drop=True)

filtered_player_arr = df.to_json(orient="records")
with open("playerslastdecade.json", "w") as out:
    out.write(filtered_player_arr)

In [52]:
# Example query using statcast_pitcher
kershaw_stats = statcast_pitcher('2023-07-01', '2023-07-02', 477132)
kershaw_stats.groupby("pitch_type").release_speed.agg("mean")

Gathering Player Data

Series([], Name: release_speed, dtype: object)

In [15]:
df.query("name_last == 'Abrams'")

    name_first name_last  key_mlbam  mlb_played_first  mlb_played_last
186         CJ    Abrams     682928            2022.0           2023.0

In [54]:
import requests
import json
import pandas as pd

query = """{
 player(slug:"nico-schlotterbeck") {
   firstName
   lastName
   position
   activeClub {
     name
   }
   activeInjuries {
     active
   }
   activeSuspensions {
     active
   }
   age
   so5Scores(last:5) {
     score
   }
 }
}"""
url = 'https://api.sorare.com/graphql/'
r = requests.post(url, json={'query': query})
json_data = json.loads(r.text)
df_data = json_data['data']
df = pd.DataFrame(df_data)
df

                                                              player
activeClub                             {'name': 'Borussia Dortmund'}
activeInjuries                                                    []
activeSuspensions                                                 []
age                                                               24
firstName                                                       Nico
lastName                                               Schlotterbeck
position                                                    Defender
so5Scores          [{'score': 48.8}, {'score': 85.4}, {'score': 2...